//colors
$c-white:       #ffffff;
$c-light-white: #fefdfd;
$c-hero-white:  #fefbfc;
$c-simple-white:#fefcfd;
$c-grey:        #ebebeb;
$c-lighter-grey:#dbdbdb;
$c-light-grey:  #7d7a7c;
$c-dark-grey:   #665f60;
$c-lilac:       #9f9acf;
