.header {
  height: 100vh;
  background: url('./img/header-bg.jpg') no-repeat 50% 50%;
  background-size: cover;
  color: $c-white;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 600;

  .nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

    &__logo {}

    &__menu {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      list-style: none;
      @include tab {
        display: none;
      };

      &.is-active {
        display: block;
        position: absolute;
        right: 0;
        top: 120px;

        li {
          margin: 0;
          font-size: 20px;
        }
      }
    }

    &__item {
      text-transform: uppercase;

      &:not(:first-child) {
        margin-left: 35px;
      }
    }

    &__link {
      color: $c-white;
    }

    &__icon {
      display: none;
      @include tab {
        position: absolute;
        top: 55px;
        right: 0;
        display: inline-block;
        border: 0;
        color: $c-white;
        font-size: 30px;
        background: transparent;
        text-decoration: none;
        cursor: pointer;
        outline: none;
      };

      & .line {
        width: 40px;
        height: 5px;
        border-radius: 2px;
        background-color: $c-white;
        display: block;
        margin: 8px auto;
        transition: all 0.3s ease-in-out;
      }

      &.is-active .line:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
      }

      &.is-active .line:nth-child(2) {
        opacity: 0;
      }

      &.is-active .line:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
      }
    }
  }

  &__title {
    padding-top: 330px;
    margin: 0;
    font-size: 72px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    @include tab {
      font-size: 40px;
      padding-top: 200px;
    };
    @include mob {
      font-size: 30px;
    };
  }

  &__text {
    padding-top: 30px;
    margin: 0 auto;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    color: $c-light-white;
    @include mob {
      font-size: 20px;
    };
  }
}

.nav__icon.is-active .line:nth-child(2) {
  opacity: 0;
}

.nav__icon.is-active .line:nth-child(1) {
  transform: translateY(13px) rotate(45deg);
}

.nav__icon.is-active .line:nth-child(3) {
  transform: translateY(-13px) rotate(-45deg);
}
